
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<h1>Index</h1>
<div>
    <img src="~/img/hero.jpg" class="img-fluid" alt="Responsive image">
</div>


<div>
<h5>Hello, Admin How Are You?</h5>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="~/img/plaza.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum nisi quis eleifend quam adipiscing vitae.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/street.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est lorem ipsum dolor sit amet consectetur adipiscing.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="~/img/door.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut lectus arcu bibendum at varius vel pharetra.</p>
    </div>
  </div>
</div>